[Desktop Entry]
Name=YouPlay
Comment=A minimalistic YouTube player
Exec=/home/username/YouPlay/youplay
Icon=/home/username/YouPlay/icon.png
Categories=AudioVideo;Video;Player;TV;
Type=Application
Keywords=YouTube;
